.App {
  text-align: center;
  background-color: bisque;

  .overlay {
    position: fixed;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    padding-top: 80px;

    .winner-name {
      text-transform: uppercase;
      font-weight: bold;
    }
    
    button {
      padding: 10px;
      color: seagreen;
      position: relative;
      top: 85px;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .board {
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 14px;
    }

    .players-title {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .court {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
  }

  .field {
    background-color: seagreen;
    border: 2px solid white;
    display: inline-block;
    width: 240px;
    height: 200px;
    cursor: pointer;
  }
}
